/* Styles body and sets a background */
body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
}

/* sets all level 6 headings to large and underline. */
h6 {
  font-size: x-large;
  text-decoration: underline;
  margin: 0px;
}

/* sets all the strong tags to a certain color. */
strong {
  color: #290149;
}

/* sticks the left contect panle to the the screen so that is follows while scrolling. */
.sticky {
  position: fixed;
  width: 100%;
}

/* sets a margin and aline's text with a color. */
.leftSideContent{
  margin-left: 23%;
  text-align: center;
  background-color: #7eca9c;
}

/* repositions the right content to be on the right hand side. */
.rightSideContent{
  margin-left: 51%;
  background-color: #7eca9c;
}

/* Styles the page content */
.pageContent {
  box-sizing: border-box;
  width: 23%;
  padding: 20px;
  border: 0.5px gray solid ;
  border-radius: 30px;
}